body {
  margin: 0;
  font-family: "Verdana"!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #19171A!important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.exp-descript{
  font-size: 13px!important;
}

.btn-lg.round {
	border-radius: 24px!important;
  background-color: #E9322E;
  border-color: #45433E;
}

.card{
  background-color: #FFFFFF!important;
}