body {
  margin: 0;
  font-family: "Verdana"!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(#19171A,#4e4752)!important;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.exp-descript{
  font-size: 13px!important;
}

.btn-lg.round {
	border-radius: 24px!important;
  background-color: #E9322E;
  border-color: #45433E;
}

.btn-lg.round:hover{
  background-color: #FFFFFF;
  color:#45433E;
}


#getPdf{
  border-radius: 24px!important;
  background-color: #E9322E;
}

#getPdf:hover{
  background-color: #19171A;
}
.card{
  background-color: #FFFFFF!important;
}

#navBarOverride{
  background-color: #E9322E!important;
  color: #FFFFFF;
}

.nav-link {
  display: inline-block;
  background-color:#E9322E;
  color: #FFFFFF!important;
  transition: 0.2s;
}
  
  .nav-link:hover {
  background-color:#959794; 
  color: #19171A!important; 
}

.navbar .navbar-brand{
  color: white!important;
  
}

.navbar .navbar-brand:hover{
  color:#19171A!important;
}

a.disabled{
  color: gray;
  pointer-events: none;
}

footer{
  background-color: #19171A;
  color: #FFFFFF;
}

